events {
    worker_connections 1024;
}

http {
    upstream auth {
        server auth:5000;
    }

    upstream analysis {
        server analysis:5001;
    }

    upstream notification {
        server notification:5002;
    }

    server {
        listen 80;

        location /auth {
            proxy_pass http://auth;
        }

        location /analyze {
            auth_request /auth/validate;
            proxy_pass http://analysis;
        }

        location /notify {
            auth_request /auth/validate;
            proxy_pass http://notification;
        }

        location = /auth/validate {
            internal;
            proxy_pass http://auth/protected;
        }
    }
}